/* 전체 스타일 */
*{margin: 0; padding: 0;}
#container{
    width: 1000px;
    margin: 0 auto;
}
header{height: 100px;}
nav ul{list-style: none; text-align: right; margin-right: 100px;}
nav ul li{display: inline-block; margin: 10px;
    border-top: 3px solid #333; padding: 10px;
}
nav ul li a{text-decoration: none; color: #000;}
nav ul li:hover{background-color: #eee;}

/* index 스타일 */
section{text-align: center;}
section h1{font-size: 2em; margin-bottom: 30px;}

/* memberlist 스타일 */
section table{width: 600px; margin:0 auto; border-collapse: collapse;}
section table, th, td{border: 1px solid #ccc; padding: 10px}

/* member_view 스타일 */
section .tbl_view{width: 450px;}
section .tbl_view td{width: 100px;}
section .tbl_view input{width: 250px; height: 30px;}

/* register 스타일 */
section .join{width: 550px; margin: 0 auto;}
section .join fieldset{border-radius: 5px;}
section .join ul{list-style: none; padding: 10px;}
section .join ul li{margin: 20px;}
section .join ul label{width: 120px; float: left; text-align: right;}
section .join ul input[type='text'], input[type='password']{width: 250px; height: 30px}
section .join ul input[type='button'], input[type='reset']{width: 100px; height: 30px}

/* 로그인 스타일 */
section .login{width: 450px; margin: 0 auto;}
section .login fieldset{border-radius: 5px;}
section .login p{color: #f00; padding: 10px;}
section .login ul{list-style: none; padding: 10px}
section .login ul li{margin: 20px}
section .login ul label{width: 100px; float: left; text-align: right;}
section .login ul input{width: 200px; height: 30px}
section .login ul input[type='submit']{width: 100px; height: 30px}

/* member_edit 스타일 */
section .tbl_edit{width: 450px;}
section .tbl_edit td{width: 100px;}
section .tbl_edit input{width: 250px; height: 30px;}
section .tbl_edit input[type="submit"]{width: 70px; height:30px;}
section .tbl_edit input[type="reset"]{width: 70px; height:30px;}

/* boardlist 스타일 */
section .tbl_board{width: 700px;}
section .tbl_board th{background: #eee;}
section .tbl_board a{text-decoration: none; color: #000;}
section .tbl_board td:nth-child(2){text-align: left; padding-left: 20px}
section .btn_write{text-align: right; margin: 20px 150px;}
section .btn_write button{width: 100px; height: 40px;}

/* board_view 스타일 */
section .tbl_bo_view{width: 600px;}
section .tbl_bo_view input{width: 550px; height: 25px}
section .tbl_bo_view textarea{width: 550px; height: 300px}

/* writing 스타일 */
section .writing{width: 600px; margin: 0 auto;}
section .writing textarea{width: 550px; height: 300px;}
section .writing input{width: 550px; height: 25px;}
section .writing input[type="button"]{width: 80px; height: 30px;}
section .writing input[type="reset"]{width: 80px; height: 30px;}

/* board_edit 스타일 */
section .tbl_bo_edit{width: 600px;}
section .tbl_bo_edit textarea{width: 550px; height: 300px}
section .tbl_bo_edit input{width: 550px; height: 25px}
section .tbl_bo_edit input[type='submit']{width: 80px; height: 30px;}
section .tbl_bo_edit input[type='reset']{width: 80px; height: 30px;}



