<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')  }}">
</head>
<body>
    <div id="container">
        {% include 'navbar.html' %}
        <section>
            <h1>게시글 목록</h1>
            <table class="tbl_board">
                <tr>
                    <th>글번호</th><th>제목</th><th>작성일</th><th>글쓴이</th>
                </tr>
                {% for i in rs %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td><a href="{{ url_for('board_view', bno=i[0]) }}">{{ i[1] }}</a></td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="btn_write">
<!--                <a href="{{ url_for('writing') }}">글쓰기</a>-->
                <button type="button" onclick="location.href='/writing/'">글쓰기</button>
            </div>
        </section>
    </div>
</body>
</html>