<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 정보</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')  }}">
</head>
<body>
    <div id="container">
        {% include 'navbar.html' %}
        <section>
            <h1>게시글 보기</h1>
            <table class="tbl_bo_view">
                {% if rs %}
                <tr>
                    <td>
                        <input type="text" name="title" value="{{ rs[1] }}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea name="content" readonly>{{ rs[2] }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="mid" value="작성자 : {{ rs[4] }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('boardlist') }}">목록</a>
                        {% if session['userName'] == rs[4] %}
                            <a href="{{ url_for('board_edit', bno=rs[0]) }}">수정</a>
                            <a href="{{ url_for('board_del', bno=rs[0]) }}"
                               onclick="return confirm('정말로 삭제하시겠습니까?')">삭제</a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            </table>
        </section>
    </div>
</body>
</html>