<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Hi~ web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="container">
        {% include 'navbar.html' %}
        <section>
            <h1>환영합니다! 회원형 커뮤니티 사이트입니다.</h1>
            <img id="pic" src="{{ url_for('static', filename='coffee-gray.jpg') }}">
        </section>

    </div>
    <script src="{{ url_for('static', filename='main_js.js') }}"></script>
</body>
</html>