<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="container">
     {% include 'navbar.html' %}
     <section>
         <h1>회원 정보</h1>
         <table>
             <tr>
                 <th>아이디</th><th>비밀번호</th><th>이름</th><th>나이</th><th>가입 일</th>
             </tr>
             {% for i in rs %}
             <tr>
                 <td><a href="{{ url_for('member_view', id=i[0]) }}">{{ i[0] }}</a></td>
                 <td>{{ i[1] }}</td>
                 <td>{{ i[2] }}</td>
                 <td>{{ i[3] }}</td>
                 <td>{{ i[4] }}</td>
             </tr>
             {% endfor %}
         </table>
     </section>
</div>
</body>
</html>